<div class="article-container">
    <article>
        <div class="article-title"><h4>Article Title</h4></div>
        <div class="article-content"><p>Lorem ipsum odor amet, consectetuer adipiscing elit. Duis aenean sollicitudin vel proin eget auctor commodo. Inceptos interdum egestas hac amet cubilia felis praesent. Euismod dui habitasse habitasse cubilia fringilla venenatis. Suscipit morbi vestibulum pellentesque dis vestibulum pulvinar cubilia. Ultrices lobortis euismod inceptos maecenas volutpat torquent enim magna...</p></div>
        <div class="buttons">
            <button type="button" id="delete"><i class="fa-solid fa-delete-left fa-lg fa-fw"></i></button>
            <button type="button" id="edit"><i class="fa-solid fa-pen-to-square fa-lg fa-fw"></i></button>
        </div>
    </article>
</div>