<div class="footer-container">
    <footer>
        <div class="footer-information">
            <h4>Contact Information</h4>
            <a href="https://github.com/herlocksholmes1888" target="_blank" class="icon" alt="Github icon"><i class="fa-brands fa-github fa-2xl fa-fw"></i></a>
            <a href="https://www.linkedin.com/in/luisa-frugoli-valente-lopes-b5b533231/" target="_blank" class="icon" alt="LinkedIn icon"><i class="fa-brands fa-linkedin fa-2xl fa-fw"></i></a>
            <a href="https://discord.com/users/476894968888295474" target="_blank" class="icon" alt="Discord icon"><i class="fa-brands fa-discord fa-2xl fa-fw"></i></a>
            <a href="mailto:luisafrugoli11@gmail.com" target="_blank" class="icon" alt="Email icon"><i class="fa-solid fa-envelope fa-2xl fa-fw"></i></a>
        </div>

        <div class="copyright-container">
            <text id="copyright">Luisa Lopes &copy; 2024-202X. All rights reserved.</text>
        </div>
    </footer>
</div>