<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Engine Test</title>
</head>
<body>
    <p>Lupin... he's a nice man</p>
    <p>But he's cool, y'know?</p>
    <p>He uses Walther</p>
    <p>The machine cries... bang bang</p>
    <p>Yeah he's the Lupin the Third</p>
</body>
</html>