<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/banner') %>

    <!-- Add body HTML and CSS here -->

    <%- include('partials/footer') %>
</body>
</html>