:root {
    --black: #000;
    --white: #fff;
    --font-gray: #d3d3d3;
    --background-gray: #696969;
}

* {
    margin: 0;
    padding: 0;
}

/* HEADER */
.header-container {
    padding: 2rem;
    background-color: var(--black);
}

.header-content {
    display: flex;
    justify-content: space-between;
}
 
#header-title {
    font-family: "Cherish", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 35pt;
    color: var(--white);
    padding-left: 5px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    background-color: var(--background-gray);
    width: 24em;
}

.search-bar i {
    filter: invert(1);
    padding: 14px;
}

#search-bar-placeholder {
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    color: var(--font-gray);
    padding: 8px;
}

/* RESPONSIVENESS */
@media screen and (max-width: 100px) {
    #header-title {
        font-size: 12pt;
    }
}

@media screen and (min-width: 600px) {

}

@media (min-width: 500px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}
