:root {
    --dark-magenta: #850F8D;
    --steel-pink: #C738BD;
    --lavender: #E49BFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url("../../public/images/Cagliostro.webp");
    background-size: 100%;
}

.foreground-square {
    background-color: var(--steel-pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30%; 
    padding: 2rem; 
    height: 100%;
    width: 30rem;
    box-sizing: content-box;
}

.foreground-square h1 {
    color: white;
    margin-bottom: 8px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#kirby-tired {
    width: 10rem;
    height: 10rem;
}

#login {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.adminInfo {
    color: grey;
}

.adminInfo:focus {
    color: black;
}

.password-container {
    display: flex;
    background-color: black;
}

#togglePassword {
    color: white;
    cursor: pointer;
}

#togglePassword:hover {
    opacity: 0.8;
}

#submit {
    background-color: var(--dark-magenta);
    color: white;
    height: 2rem;
    width: 12rem;
    border: none;
}

#submit:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}