:root {
    --lime: #00FF00;
    --hover-lime: #00c900;
    --crimson: #DC143C;
    --hover-crimson: #b30f2f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 45pt;
}

p {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18pt;
    letter-spacing: 1.5px;
}

.editable:focus {
    outline: none;    
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 10px;
    margin: 10px;
}

.btn {
    height: 25px;
    width: 80px;
    border-radius: 10%;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

#publish {
    background-color: var(--lime);
}

#publish:hover {
    background-color: var(--hover-lime);
}

#delete {
    background-color: var(--crimson);
}

#delete:hover {
    background-color: var(--hover-crimson);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.article-content {
    margin: 2rem;
    color: grey;
    opacity: 0.8;
}